.hover {
    font-weight: bold;
}

#1 {
    background-color: lightgreen;
    font-size: 18px;
}

#2 {
    background-color: yellow;
    font-size: 10px;
}

#3 {
    background-color: black;
    font-color: white;
}