.hover:hover {
    font-weight: bold;
}

#div1 {
    background-color: Aquamarine;
    font-size: 18px;
}

#div2 {
    background-color: Brown;
    font-size: 10px;
}

#div3 {
    background-color: Black;
    text-decoration-color: White;
}
