.hover:hover {
    font-weight: bold;
}

#1 {
    background-color: Aquamarine;
    font-size: 18px;
}

#2 {
    background-color: Brown;
    font-size: 10px;
}

#3 {
    background-color: Black;
    font-color: White;
}
